* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
*:focus {
	outline: none;
}
::-webkit-scrollbar {
  	display: none;
}
body {
	width: 100vw;
	background-color: #000;
	overflow-x: hidden;
}
#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
}
.page {
	height: 0px;
	width: 0px;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
}
.page.initialized {
	height: auto;
	width: unset;
	position: relative;
	visibility: visible;
	overflow: visible;
}
.btn {
	padding: 10px 15px;
	border: 2px solid;
	background-color: transparent;
	color: #fff;
	font-size: 15px;
	border-radius: 0px;
	cursor: pointer;
	transition: all .6s;
}
.icon {
	position: fixed;
	top: 15px;
	left: 20px;
	font-size: 30px;
	display: none!important;
}
#app[page="home"] .fa-home, #app[page="work_samples"] .fa-briefcase, #app[page="code_samples"] .fa-code, #app[page="contact"] .fa-envelope {
	display: block!important;
}
.fa-home {
	color: #ff6666;
}
.fa-briefcase {
	color: #00cc99;
}
.fa-code {
	color: #99cc00;
}
.fa-envelope {
	color: #3399ff;
}
#nav, #menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
}
#nav {
	top: 5px;
	left: calc(100% - 20px);
	transform: translate(-100%, 0%);
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 3;
	transition: transform .6s;
}
#nav.toggled {
	transform: translate(-100%, 15px);
}
#nav div {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transition: all .6s;
}
#nav div:nth-child(1) {
	transform: translate(0%, -6px) rotate(0deg);
}
#nav div:nth-child(2) {
	transform: translate(0%, 6px) rotate(0deg);
}
#nav.toggled div {
	background-color: #000;
}
#nav.toggled div:nth-child(1) {
	transform: translate(0%, 0px) rotate(45deg);
}
#nav.toggled div:nth-child(2) {
	transform: translate(0%, 0px) rotate(-45deg);
}
#menu {
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	transform: scale(0);
	opacity: 0;
	z-index: 2;
	transition: transform 0s linear .6s, opacity .6s;
}
#menu.toggled {
	transform: scale(1);
	opacity: 1;
	transition: transform 0s, opacity .6s;
}
#options {
	position: absolute;
	display: inline-flex;
	transform: scale(0);
	transition: transform .3s;
}
#options.toggled {
	transform: scale(1);
}
.option {
	font-size: 18px;
	color: gray;
	margin: 0px 15px;
	cursor: pointer;
	transition: color .4s;
}
#home.active, #home:hover {
	color: #ff6666;
}
#skills.active, #skills:hover {
	color: #00cc99;
}
#work_samples.active, #work_samples:hover {
	color: #00cc99;
}
#code_samples.active, #code_samples:hover {
	color: #99cc00;
}
#contact.active, #contact:hover {
	color: #3399ff;
}
#init {
	transform: scale(1);
	transition: transform .2s;
}
#init.toggled {
	transform: scale(.8);
}
#pre, #init {
	font-size: 18px;
}
#pre {
	visibility: hidden;
}
#init {
	position: absolute;
}
#loader {
	width: 300px;
	height: 4px;
	border: 1px solid #e6e6e6;
	border-radius: 50px;
	transform: translateY(10px);
	overflow: hidden;
	opacity: 0;
	transition: opacity 0s ease .4s;
}
#app[page="home"] #loader {
	background-color: #ff6666;
}
#app[page="work_samples"] #loader {
	background-color: #00cc99;
}
#app[page="code_samples"] #loader {
	background-color: #99cc00;
}
#app[page="contact"] #loader {
	background-color: #3399ff;
}
#loader.toggled {
	opacity: 1;
}
#status {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	background-color: #fff;
	transition: transform .6s ease .3s;
}
#loader.toggled #status {
	transform: translateX(100%);
}
#pt {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#app[page="home"] #pt {
	background: linear-gradient(rgba(255, 102, 102, .01), rgba(255, 102, 102, .2));
}
#app[page="work_samples"] #pt {
	background: linear-gradient(rgba(0, 204, 153, .01), rgba(0, 204, 153, .2));
}
#app[page="code_samples"] #pt {
	background: linear-gradient(rgba(153, 204, 0, .01), rgba(153, 204, 0, .2));
}
#app[page="contact"] #pt {
	background: linear-gradient(rgba(51, 153, 255, .01), rgba(51, 153, 255, .2));
}
.home {
	text-align: center;
}
.me-hex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	background: #343550;
	color: #ff6666;
	font-size: 50px;
	-webkit-clip-path: polygon(75% 10%, 100% 50%, 75% 90%, 25% 90%, 0 50%, 25% 10%);
	clip-path: polygon(75% 10%, 100% 50%, 75% 90%, 25% 90%, 0 50%, 25% 10%);
	transform: rotateY(-90deg);
	margin: auto;
	overflow: hidden;
	transition: transform .6s;
}
.home.initialized .me-hex {
	transform: rotateY(0deg);
}
.home h1 {
	font-size: 40px;
	color: #fff;
	white-space: nowrap;
	transform: scale(.7);
	transition: transform 1s;
}
.home.initialized h1 {
	transform: scale(1);
}
.home h1:nth-child(1) {
	margin-bottom: 10px;
}
.title {
	margin-bottom: 60px;
}
h1 span {
	color: #ff6666;
}
#home-con {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100vw;
	height: auto;
	padding: 0px 100px;
	transform: translateX(-25px);
}
.home-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: auto;
}
#home-con .home-inner:nth-child(1) {
	padding-right: 50px;
}
#home-con .home-inner:nth-child(2) {
	padding-left: 50px;
}
.home-inner .skill:nth-child(even) {
	transform: translateX(50px);
}
.lang .skill:nth-child(1) .skill-hex, .lang .skill:nth-child(1) .bar, .lang .skill:nth-child(1) .level {
	transition-delay: .1s;
}
.lang .skill:nth-child(2) .skill-hex, .lang .skill:nth-child(2) .bar, .lang .skill:nth-child(2) .level {
	transition-delay: .2s;
}
.lang .skill:nth-child(3) .skill-hex, .lang .skill:nth-child(3) .bar, .lang .skill:nth-child(3) .level {
	transition-delay: .3s;
}
.lang .skill:nth-child(4) .skill-hex, .lang .skill:nth-child(4) .bar, .lang .skill:nth-child(4) .level {
	transition-delay: .4s;
}
.lang .skill:nth-child(5) .skill-hex, .lang .skill:nth-child(5) .bar, .lang .skill:nth-child(5) .level {
	transition-delay: .5s;
}
.fram .skill:nth-child(1) .skill-hex, .fram .skill:nth-child(1) .bar, .fram .skill:nth-child(1) .level {
	transition-delay: .6s;
}
.fram .skill:nth-child(2) .skill-hex, .fram .skill:nth-child(2) .bar, .fram .skill:nth-child(2) .level {
	transition-delay: .7s;
}
.fram .skill:nth-child(3) .skill-hex, .fram .skill:nth-child(3) .bar, .fram .skill:nth-child(3) .level {
	transition-delay: .8s;
}
.fram .skill:nth-child(4) .skill-hex, .fram .skill:nth-child(4) .bar, .fram .skill:nth-child(4) .level {
	transition-delay: .9s;
}
.fram .skill:nth-child(5) .skill-hex, .fram .skill:nth-child(5) .bar, .fram .skill:nth-child(5) .level {
	transition-delay: 1s;
}
.skill {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 76px;
}
.skill .skill-hex, .skill .bar {
	transition: all .4s;
}
.skill-hex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ff6666;
	font-size: 14px;
	font-weight: 400;
	width: 100px;
	height: 100px;
	background: #343550;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transform: rotateY(-90deg);
}
.skill-level {
	font-family: sans-serif;
}
.bar {
	position: relative;
	width: calc(100% - 100px);
	height: 20px;
	overflow: hidden;
	background: #ff6666;
	opacity: 0;
}
.level {
	width: 100%;
	height: 100%;
	transition: transform 1.5s;
}
.page.initialized .skill-hex {
	transform: rotateY(0deg);
}
.page.initialized .bar {
	opacity: 1;
}
.page.initialized .html, .page.initialized .jq, .page.initialized .boot {
	transform: translateX(100%);
	background: #343550;
}
.page.initialized .js, .page.initialized .css {
	transform: translateX(95%);
	background: #343550;
}
.page.initialized .ang1 {
	transform: translateX(90%);
	background: #343550;
}
.page.initialized .php, .page.initialized .react {
	transform: translateX(75%);
	background: #343550;
}
.page.initialized .ang2, .page.initialized .ts {
	transform: translateX(80%);
	background: #343550;
}
#work-con {
	width: 70vw;
	height: auto;
	transform: scale(0);
	transition: transform 1s;
}
.page.initialized #work-con {
	transform: scale(1);
}
#item-preview {
	position: relative;
	width: 100%;
	height: calc(70vw * .5625);
	overflow: hidden;
	margin-bottom: 10px;
}
.pp {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.item {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	transition: opacity .6s;
	overflow: hidden;
	cursor: pointer;
}
.item.show {
	opacity: 1;
	z-index: 0;
}
.item * {
	transition: all .6s;
}
.item-pic {
	width: 100%;
	height: 100%;
	opacity: 1;
}
.item.active .item-pic {
	opacity: 0;
}
.featured {
	position: absolute;
	padding: 10px 0px;
	width: 250px;
	background-color: yellow;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	top: 30px;
	left: calc(100% + 75px);
	transform: translateX(-100%) rotate(45deg);
}
.toggle-con {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.item.active .toggle-con {
	opacity: 1;
}
.item-name {
	color: #00cc99;
	transform: translateY(-150px);
	margin-bottom: 50px;
}
.item-toggle, .nf {
	border-color: #00cc99;
	transform: translateY(150px);
}
.nf {
	text-decoration: none;
}
.item-toggle:hover, .nf:hover {
	background-color: #00cc99;
}
.item.active .item-name, .item.active .item-toggle, .item.active .nf {
	transform: translateY(0px);
}
#item-controls {
	display: inline-flex;
	width: 100%;
	height: calc(7vw * .5625);
}
.item-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	color: rgba(255, 255, 255, .6);
	width: 12.5%;
	height: 100%;
	cursor: pointer;
}
.item-control:hover {
	color: #fff;
}
#pic-indicators {
	width: calc(100% - 25%);
	height: 100%;
	padding: 0px 5px;
	overflow: hidden;
}
#item-slider {
	display: inline-flex;
	width: 200%;
	height: 100%;
	transition: transform .4s;
}
.item-indicator {
	width: 16.66%;
	height: 100%;
	padding: 0px 5px;
}
.indicator-inner {
	width: 100%;
	height: 100%;
	cursor: pointer;
	filter: grayscale(1);
}
.indicator-inner.show, .indicator-inner:hover {
	filter: grayscale(0);
	border: 2px solid #00cc99;
}
.i1 {
	background-image: url(../assets/images/ssa.png);
}
.i2 {
	background-image: url(../assets/images/exodus.png);
}
.i3 {
	background-image: url(../assets/images/premios.png);
}
.i4 {
	background-image: url(../assets/images/grain.png);
}
.i5 {
	background-image: url(../assets/images/gti.png);
}
.i6 {
	background-image: url(../assets/images/foundry.png);
}
.i7 {
	background-image: url(../assets/images/hike.png);
}
.i8 {
	background-image: url(../assets/images/telehealth.png);
}
.i9 {
	background-image: url(../assets/images/dents.png);
}
.i10 {
	background-image: url(../assets/images/diabetes.png);
}
.i11 {
	background-image: url(../assets/images/olson.png);
}
.i12 {
	background-image: url(../assets/images/think.png);
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .8);
	transform: scale(0);
	opacity: 0;
	z-index: 3;
	transition: transform 0s ease 0s, opacity.5s;
}
#modal {
	position: fixed;
	width: 55vw;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	z-index: 3;
	transition: all .5s;
}
#overlay.active {
	opacity: 1;
	transform: scale(1);
}
#modal.active {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}
#modal-top {
	position: relative;
	width: 100%;
	height: calc(55vw * .5625);
	overflow: hidden;
}
#images {
	display: inline-flex;
	height: 100%;
	transition: transform .4s;
}
#images div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	opacity: 0;
	transition: opacity .4s;
}
#images div.current {
	opacity: 1;
}
.control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #fff;
	position: absolute;
	z-index: 1;
	top: 100%;
	width: 70px;
	height: 70px;
	background: #00cc99;
	cursor: pointer;
}
#prev {
	transform: translateY(-100%);
}
#next {
	left: 100%;
	transform: translate(-100%, -100%);
}
#indicator-con {
	position: absolute;
	top: calc(100% - 5px);
	left: 50%;
	transform: translate(-50%, -100%);
	width: 300px;
	height: 4px;
	background: #343550;
	border-radius: 50px;
	overflow: hidden;
}
#indicator {
	height: 100%;
	background: #00cc99;
	border-radius: 50px;
	transition: transform .4s;
}
#modal-bottom {
	display: flex;
	flex-direction: column;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
	width: 100%;
	height: auto;
	padding: 15px;
}
#item-name {
	margin-bottom: 5px;
	color: #00cc99;
}
#item-details {
	color: #fff;
}
#sep {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, .7);
	margin: 15px 0px;
}
#item-link {
	position: relative;
	text-decoration: none;
	border-color: #00cc99;
	color: #fff;
	top: 10px;
}
#item-link:hover {
	background: #00cc99;
}
#exit {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	float: right;
}
#exit div {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, .7);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#exit div:nth-child(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}
#exit div:nth-child(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.code_samples {
	padding-top: 100px;
}
#code-con {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: calc(100vh - 100px);
	transform: scale(0);
	transition: transform 1s;
}
.page.initialized #code-con {
	transform: scale(1);
}
#tabs-con {
	position: relative;
	display: inline-flex;
}
.tab {
	width: 125px;
	padding: 10px 0px;
	text-align: center;
	color: rgba(255, 255, 255, .5);
	background: #343450;
	-webkit-clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
	clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
	cursor: pointer;
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 0px;
	font-size: 14px;
}
.tab.w {
	transform: translateX(-15px);
}
.tab.f {
	transform: translateX(-30px);
}
#code-con[tab="skillsjs"] .tab.s, #code-con[tab="workjs"] .tab.w, #code-con[tab="formjs"] .tab.f {
	position: relative;
	background: #1e1e2f;
	color: #fff;
	z-index: 1;
}
#the-code {
	position: relative;
	top: -1px;
	width: 100%;
	height: calc(100% - 30px);
	background: rgba(0, 0, 0, .3);
	overflow: hidden;
}
.code {
	display: none;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
#code-con[tab="skillsjs"] .code.s, #code-con[tab="workjs"] .code.w, #code-con[tab="formjs"] .code.f {
	display: block;
}
pre {
    -moz-tab-size: 2;
    -o-tab-size:   2;
    tab-size:      2;
}
code {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	color: #fff;
}
code, code div, code div span {
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 0px;
	font-size: 14px;
}
.comment {
	color: rgba(255, 255, 255, .6);
}
.str {
	color: #ffe680;
}
.dec {
	color: aqua;
	font-style: italic;
}
.func {
	color: aqua;
}
.function {
	color: lime;
}
.op {
	color: #ff0066;
}
.num {
	color: #b366ff;
}
.this {
	color: #ff9933;
	font-style: italic;
}
form {
	transform: scale(0);
	transition: transform .6s;
}
#botswater {
	display: none;
}
.page.initialized form {
	transform: scale(1);
}
.field-group {
	position: relative;
	margin-bottom: 30px;
}
input:focus, textarea:focus {
	outline: none;
}
input, textarea {
	position: relative;
	font-family: sans-serif;
	font-size: 18px;
	width: 600px;
	color: #fff;
}
input {
	background: transparent;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	transition: border-color .3s;
}
.field-group.focused input {
	border-color: #3399ff;
}
textarea {
	margin-top: 30px;
	padding: 15px;
	height: 200px;
	border: none;
	background: rgba(0, 0, 0, .3);
}
.input-txt {
	position: absolute;
	z-index: -1;
	color: #fff;
	bottom: 5px;
	font-size: 18px;
	left: 5px;
	transition: all .3s;
}
.field-group.focused .input-txt {
	transform: translateY(-20px);
	color: #3399ff;
}
.warning {
	position: absolute;
	left: 50%;
	bottom: -45px;
	padding: 10px 15px;
	border-radius: 8px;
	background: #3399ff;
	color: #fff;
	font-size: 14px;
	transform: translateX(-50%) scale(0);
	transition: transform .2s;
}
.carrat {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 50%;
	top: -5px;
	background: #3399ff;
	transform: translateX(-50%) rotate(45deg);
}
.field-group.alert .warning {
	transform: translateX(-50%) scale(1);
}
#thanks {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #3399ff;
	text-align: center;
	transform: translate(-50%, -50%) scale(0);
	transition: transform .3s;
}
#submit {
	border-color: #3399ff;
	float: right;
}
#submit:hover {
	background: #3399ff;
}
@media(max-width: 768px) {
	.home {
		padding: 100px 0px;
	}
	.home-inner {
		width: 100%;
		padding: 0px!important;
	}
	.fram {
		transform: translateX(-50px);
	}
	.fram .skill:nth-child(odd) {
		transform: translateX(100px);
	}
	#work-con, #modal {
		width: 80vw;
	}
	#item-preview, #modal-top {
		height: calc(80vw * .5625);
	}
	#item-controls {
		height: calc(8vh * .5625);
	}
	input, textarea {
		width: 80vw;
	}
}
@media(max-width: 425px) {
	#loader {
		width: 90%;
	}
	.home h1, #item-name {
		font-size: 30px;
	}
	#home-con {
		padding: 0px 35px;
	}
	#work-con, #modal {
		width:100vw;
	}
	#item-preview, #modal-top {
		height: calc(100vw * .5625);
	}
	#item-controls {
		height: calc(10vh * .5625);
	}
	#pic-indicators, .item-indicator {
		padding: 0px 1px;
	}
	#indicator-con {
		width: 200px;
	}
	input, textarea {
		width: 95vw;
	}
	code, code div, code div span {
		font-size: 12px;
	}
}
@media(max-width: 375px) {
	.home h1 {
		font-size: 25px;
	}
}














































































